h2
{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #000080;
    text-decoration: underline;
    text-decoration-color: rgb(12, 119, 161);
}
.card-footer
{
    text-align: center;
    color: #0000b3;
    font-size: 23px;
}
.class-body
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    
}